<a href="https://colab.research.google.com/github/bhavya-kashyap/StartupSuccessPrediction/blob/main/Project1EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [13]:
d = pd.read_excel('StartupSuccessPredictionDataset.xlsx')
print(d.shape, d.columns.values)

FileNotFoundError: ignored

In [12]:
data.head(10)

  Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,state_code.1,is_CA,is_NY,is_MA,is_TX,is_otherstate,category_code,is_software,is_web,is_mobile,is_enterprise,is_advertising,is_gamesvideo,is_ecommerce,is_biotech,is_consulting,is_othercategory,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0  1005,CA,42.35888,-71.05682,92101,c:6669,San Di...
1  204,CA,37.238916,-121.973718,95032,c:16283,Los...
2  1001,CA,32.901049,-117.192656,92121,c:65620,Sa...
3  738,CA,37.320309,-122.05004,95014,c:42668,Cupe...
4  1002,CA,37.779281,-122.419236,94105,c:65806,Sa...
5  379,CA,37.406914,-122.09037,94043,c:22898,Moun...
6  195,CA,37.3915589,-122.0702643,94041,c:16191,M...
7  875,CA,38.057107,-122.513742,94901,c:5192,San ...
8  16,MA,42.712207,-73.203599,1267,c:1043,William...
9  846,CA,37.427235,-122.145783,94306,c:498,Palo ...